div {
display: inline-block;
border: 4px solid darkseagreen;
font-size:35px;    
}
h1 {
font-size:45px    
}
html {
background-color:darkslategrey;
color:antiquewhite;
}
img {
width:300px;
border: 4px solid darkseagreen;
}
a {
color:antiquewhite;
text-decoration:none;    
}